.screen{display:flex;justify-content: center; gap:10px;visibility:hidden;}


.inputscreen1{display:flex;flex-direction: column;align-items: center;}
.inputscreen2{visibility: hidden;display:flex;flex-direction: column;align-items: center;}

.header{text-align: center;color:rgb(6, 128, 6)}

.player1, .player2{display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
padding:4px;}

.player1 h2, .player2 h2{color:green;text-decoration: underline;}

.player1{border-right:solid red 2px;}
.player2{border-left:solid blue 2px;}

.gamegrid{display:grid;
grid-template-columns: repeat(3,1fr);
width: 75vw;}
.gamegrid div{border:solid black 1px;}
